 .menu_size {
    /* width: 100%; */
    height: 60px;
    background-color: white;
 }
.menu_navigation {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    /* text-decoration: none; */
    list-style: none;
    
}

.global-container {
    margin: auto;
    width: 950px;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: Montserrat;
}

body {
    background-color:#e4e4e4;
}

a.link {
    color: red;
    font-weight: bold;
    text-decoration: none;
    /* list-style: none; */
}
.image {
    width: 100%;
}

.name {
    /* width: 100%; */
    text-align: center;
    text-transform: uppercase;
}

span.heading-text{
    color: rgb(73, 73, 73);
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.para {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    left: 67.5px;
    letter-spacing: 2.4px;
    padding-left: 50px;
    padding-right: 50px;
}
.button {
    /*  margin: 80px; */
      background-color: #FF0000;
      color: white;
      width: 191px;
      height: 51px;
      left: 544.5px;
      top: 557px;
      border:none;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
      display: flex;
      text-transform: uppercase;
  }
.copyright {
    /* margin-left: 600px; */
    /* display: flex; */
    text-align: right;
}
